*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
:root {
    --colorTitulo: #ffffff;
    --colorLogo: #ffffffa9;
    --colorGrey: #202020;
}
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 5em;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:var(--colorGrey);
}
.logo{
    max-width: 150px;
    margin-right: 20px;
}
.container span {
    cursor: default;
    animation: titulo 3.5s ease-in-out infinite;
}
.container span:nth-of-type(2) {
    animation-delay: 0.25s;
}
.container span:nth-of-type(3) {
    animation-delay: 0.50s;
}
.container span:nth-of-type(4) {
    animation-delay: 0.75s;
}
.container span:nth-of-type(5) {
    animation-delay: 1s;
}
.container span:nth-of-type(6) {
    animation-delay: 1.25s;
}
.container span:nth-of-type(7) {
    animation-delay: 1.50s;
}
.container span:nth-of-type(8) {
    animation-delay: 1.75s;
}
.container span:nth-of-type(9) {
    animation-delay: 2s;
}
@keyframes titulo {
    0% {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 12px var(--colorTitulo),
        0 0 50px var(--colorTitulo),
        0 0 100px var(--colorTitulo);
    }
    10%, 90% {
        color: var(--colorGrey);
        text-shadow: none;
    }

}