@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap ');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  text-wrap: nowrap;
  color: #ffffff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
  font-size: 20px;
  text-wrap: nowrap;
  color: #000000;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(243, 243, 243);
    overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 12px;      
}

body::-webkit-scrollbar-track {
  background: #000000;    
  box-shadow: 0 0 12px var(--colorSub);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--colorSub);      
  border: 3px solid #ffffff;  
  border-radius: 0;
  box-shadow: 0 0 12px var(--colorSub);
}
  main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
.fundo-animado {
    position: absolute;
    display: flex;
}
.fundo-animado span {
    width: 30px;
    height: 30px;
    background: var(--colorSub);
    margin: 0 4px;
    border-radius: 50%;
    background-color: var(--colorSub);
    box-shadow: 0 0 10px 10px #e600da,
    0 10px 50px #ff00f2,
    0 10px 100px var(--colorSub);
    animation: animar calc(100s / var(--i)) linear infinite;
}
@keyframes animar {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
.fundo-animado span:nth-of-type(even) {
    background: #fa017d;
    box-shadow: 0 0 10px 10px #ff1e8e,
    0 10px 50px #c40062,
    0 10px 100px #fa017d;
}
.container-carrosel {
    margin-top: 24vh;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
}
.container-slider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 400px;
}

.slider {
  opacity: 0;
  transition: opacity .375s;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.on {
  opacity: 1;
}

#prev-button, #next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img, #next-button img {
  width: 100%;
  height: 100%;
}

#prev-button {
  transform: rotate(180deg);
}
.container-cards-destaques {
  width: 100%;
  min-height: 30vh;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #000000;
  box-shadow: 0 0 12px var(--colorSub);
}
.titulo-container-cards-destaques {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.responsivo-container-cards-destaques {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cards-destaques {
  width: 13em;
  height: 15em;
  margin: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background-color: #e5e5e5;
  box-shadow: 0 0 12px var(--colorSub);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cards-destaques:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
}
.cards-destaques-titulo {
  height: auto;
  width: 100%;
  border-radius: 15px 15px 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--colorSub);
  box-shadow: 2px 10px 15px #c40062;
}
.cards-destaques-demo {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Social-Button {
  width: 7em;
  height: 2em;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
  display: block;
  border: none;
  color: #ffffff;
  background-color: rgb(2, 82, 255);
  box-shadow: 0 0 15px rgb(0, 59, 187);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.Social-Button:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  background-color: rgb(57, 120, 255);
}
.cards-destaques-vermais {
  width: 100%;
  height: 20%;
  border-radius: 18px 0 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--colorSub);
  box-shadow: 0 -5px 15px var(--colorSub);
}
.VerMais {
  width: 10em;
  height: 2em;
  border-radius: 40px;
  cursor: pointer;
  display: block;
  border: none;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 0 12px rgb(0, 0, 0);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.VerMais:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  animation: animate 1s linear infinite;
  background-color: #101010;
  color: var(--colorSub);
}