@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap ');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2 {
  font-size: 30px;
  cursor: default;
  font-weight: bold;
  text-wrap: nowrap;
  color: #ffffff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
  font-size: 20px;
  cursor: default;
  text-wrap: nowrap;
  color: #000000;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(243, 243, 243);
    overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 12px;      
}

body::-webkit-scrollbar-track {
  background: #000000;    
  box-shadow: 0 0 12px var(--colorSub);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--colorSub);      
  border: 3px solid #ffffff;  
  border-radius: 0;
  box-shadow: 0 0 12px var(--colorSub);
}
  main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
.fundo-animado {
    position: absolute;
    display: flex;
}
.fundo-animado span {
    width: 30px;
    height: 30px;
    background: var(--colorSub);
    margin: 0 4px;
    border-radius: 50%;
    background-color: var(--colorSub);
    box-shadow: 0 0 10px 10px #e600da,
    0 10px 50px #ff00f2,
    0 10px 100px var(--colorSub);
    animation: animar calc(100s / var(--i)) linear infinite;
}
@keyframes animar {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
.fundo-animado span:nth-of-type(even) {
    background: #fa017d;
    box-shadow: 0 0 10px 10px #ff1e8e,
    0 10px 50px #c40062,
    0 10px 100px #fa017d;
}
.container-carrosel {
    margin-top: 24vh;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
}
.container-slider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 400px;
}

.slider {
  opacity: 0;
  transition: opacity .375s;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.on {
  opacity: 1;
}

#prev-button, #next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img, #next-button img {
  width: 100%;
  height: 100%;
}

#prev-button {
  transform: rotate(180deg);
}
.container-cards-destaques {
  width: 100%;
  min-height: 30vh;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #000000;
  box-shadow: 0 0 12px var(--colorSub);
}
.titulo-container-cards-destaques {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.responsivo-container-cards-destaques {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.responsivo-container-cards-destaques .cards-destaques{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 10px 10px 30px rgba(219, 16, 175, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.705);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.705);
  border-left: 1px solid rgba(255, 255, 255, 0.705);
  backdrop-filter: blur(5px);
}
.responsivo-container-cards-destaques .cards-destaques .content{
  padding: 20px;
  text-align: center;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(100px);
}
.responsivo-container-cards-destaques .cards-destaques:hover .content{
  transform: translateY(0px);
  opacity: 1;
}
.responsivo-container-cards-destaques .cards-destaques .content h2{
  position: absolute;
  top: -135px;
  right: -10px;
  font-size: 11em;
  color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
.content h3{
  font-size: 3em;
  color: #fff;
  z-index: 10000000;
}
.content p{
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 0 15px rgba(219, 16, 175, 0.5);
}
