@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap ');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h3 {
  font-size: 20px;
  cursor: default;
  text-wrap: nowrap;
  text-transform: uppercase;
  background: linear-gradient(45deg/ #000000, #c40062, #fa017d,#e600da, #ff1e8e);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4 {
  font-size: 30px;
  cursor: default;
  text-wrap: nowrap;
  text-transform: uppercase;
  background: linear-gradient(45deg/ #000000, #c40062, #fa017d,#e600da, #ff1e8e);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
 text-align: left;
 margin: 15px;
 font-size: 13px;
 font-family: Arial, Helvetica, sans-serif;
 text-wrap: wrap;
}
.p1 {
    text-align: left;
    margin: 15px;
    font-size: 13px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: wrap;
   }
body {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(221, 221, 221);
    overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 12px;      
}

body::-webkit-scrollbar-track {
  background: #000000;    
  box-shadow: 0 0 12px var(--colorSub);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--colorSub);      
  border: 3px solid #ffffff;  
  border-radius: 0;
  box-shadow: 0 0 12px var(--colorSub);
}
  main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
.fundo-animado {
    position: absolute;
    display: flex;
    max-width: 99vw;
}
.fundo-animado span {
    width: 30px;
    height: 15px;
    background: var(--colorSub);
    margin: 0 4px;
    border-radius: 50%;
    background-color: var(--colorSub);
    box-shadow: 0 0 10px 10px #e600da,
    0 10px 50px #ff00f2,
    0 10px 100px var(--colorSub);
    animation: animar calc(100s / var(--i)) linear infinite;
}
@keyframes animar {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
.fundo-animado span:nth-of-type(even) {
    background: #fa017d;
    box-shadow: 0 0 10px 10px #ff1e8e,
    0 10px 50px #c40062,
    0 10px 100px #fa017d;
}
.container-carrosel {
    margin-top: 24vh;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 8;
}
.container-slider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 400px;
}

.slider {
  opacity: 0;
  transition: opacity .375s;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.on {
  opacity: 1;
}

#prev-button, #next-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img, #next-button img {
  width: 100%;
  height: 100%;
}

#prev-button {
  transform: rotate(180deg);
}
.container-sobre-nos {
    width: 100%;
    height: auto;
    min-height: 100vh;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 12px var(--colorSub);
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.titulo {
    font-size: 40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #c40062, #000000, #e600da, #ff1e8e);
    background-size: 400% 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @keyframes degrade {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 400%;
    }
  }
.container-apresentacao-site {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto-sobre-nos-empresa {
  margin: 10px;
  width: 80%;
  height: auto;
  background-color: rgba(27, 27, 27, 0.822);
  border-radius: 15px;
}
.texto-sobre-nos-dev{
  margin: 10px;
  width: 80%;
  height: auto;
  background-color: rgba(233, 233, 233, 0.822);
  border-radius: 15px;
}
.sobrenos-img {
  border-radius: 5px;
  margin: 10px;
  width: 70%;
  box-shadow: 0 0 12px var(--colorSub);
}
.container-Iago {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--colorSub);
    background-color: #ffffff;
}
.social_media {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.icone {
  text-decoration: none;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
}
.glow-on-hover-ig{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover-ig:before {
    content: '';
    background: linear-gradient(45deg, #ff00f2, #d40040, #c300ff, #9c08af, #6a00b1, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 100px;
}

.glow-on-hover-ig:active {
    color: #000;
}

.glow-on-hover-ig:active:after {
    background: transparent;
}

.glow-on-hover-ig:hover:before {
    opacity: 1;
}

.glow-on-hover-ig:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 100px;
    
}
.glow-on-hover-email{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 10px;
  display: block;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover-email:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #d40040, #ff0000, #ff5b5b, #7a0400, #ff1818, #ff2e27, #af0000, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 100px;
}

.glow-on-hover-email:active {
  color: #000;
}

.glow-on-hover-email:active:after {
  background: transparent;
}

.glow-on-hover-email:hover:before {
  opacity: 1;
}

.glow-on-hover-email:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 100px;
  
}
.glow-on-hover-twitter{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 10px;
  display: block;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover-twitter:before {
  content: '';
  background: linear-gradient(45deg, #58bcff, #269dff, #00a2ff, #007adf, #0097dd, #18f7ff, #0088f7, #006ec9, #108afc);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 100px;
}

.glow-on-hover-twitter:active {
  color: #000;
}

.glow-on-hover-twitter:active:after {
  background: transparent;
}

.glow-on-hover-twitter:hover:before {
  opacity: 1;
}

.glow-on-hover-twitter:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 100px;
  
}
.glow-on-hover-github{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 10px;
  display: block;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow-on-hover-github:before {
  content: '';
  background: linear-gradient(45deg, #2f00ff, #8400ff, #8400ff, #0400ff, #2f32f7, #5900ff, #0011ff, #7700ff, #6200ff);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 100px;
}

.glow-on-hover-github:active {
  color: #000;
}

.glow-on-hover-github:active:after {
  background: transparent;
}

.glow-on-hover-github:hover:before {
  opacity: 1;
}

.glow-on-hover-github:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 100px;
  
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

