.contaner-buttons {
    margin-top: 20px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Social Button */

.Social {
    width: 50%;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    text-align: center;
    border: none;
    background-color: blue;
    color: white;
    box-shadow: 0 0 12px rgb(26, 106, 255);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.Social:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
    animation: animate 1s linear infinite;
    background-color: rgb(71, 71, 255);
    box-shadow: 0 0 12px blue;
}

/* Reset Button */

.reset{
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: block;
}
.reset,
.reset *,
.reset :after,
.reset :before,
.reset:after,
.reset:before {
  box-sizing: border-box;
}
.reset {
  -webkit-tap-highlight-color: transparent;
  background-color: #ffffff;
  color: #ffffff;
  background-image: none;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  border: 0.8 solid black;
}

.reset {
  overflow: hidden;
  position: relative;
}

.reset span {
  font-weight: 900;
  mix-blend-mode: difference;
}
.reset:before {
  aspect-ratio: 1;
  background: #000000;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 1s;
  width: 0;
  
}

.reset:hover:before {
  width: 100%;
}

/* Glow Button */

.glow-on-hover {
    width: 220px;
    height: 50px;
    display: block;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Flash Button */

.flash {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  top: 82px;
  left: 50px;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.flash:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.flash:hover svg {
  stroke-dashoffset: -480;
}

.flash span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

/* 3D Buttpn */

.treeD-Button{
  cursor: pointer;
  right: 20px;
  margin-bottom: 17px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 0px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  color: white;
}
.treeD-Button span {
  background: rgb(238, 0, 198);
  background: linear-gradient(0deg, rgb(238, 0, 206) 0%, rgb(190, 5, 160) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.treeD-Button span:nth-child(1) {
  
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.treeD-Button span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.treeD-Button:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.treeD-Button:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* Pisck Button */

.pisck {
  min-width: 50%;
  min-height: 40px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.pisck::before {
content: '';
  border-radius: 1000px;
  min-width: calc(120px + 12px);
  min-height: calc(50px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.pisck:hover, .pisck:focus {
  color: #313133;
  transform: translateY(-6px);
}

.pisck:hover::before, .pisck:focus::before {
  opacity: 1;
}

.pisck::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.pisck:hover::after, .pisck:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

/* Wobble Button */ 

.wobble,
.wobble *,
.wobble :after,
.wobble :before,
.wobble:after,
.wobble:before {
  border: 0 solid;
  box-sizing: border-box;
}
.wobble {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.wobble:disabled {
  cursor: default;
}
.wobble:-moz-focusring {
  outline: auto;
}
.wobble svg {
  display: block;
  vertical-align: middle;
}
.wobble [hidden] {
  display: none;
}
.wobble {
  background: none;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 1.5rem 4rem;
  position: relative;
  text-transform: uppercase;
}
.wobble span {
  background: #1add00;
  border-radius: 999px;
  display: grid;
  inset: 0;
  place-items: center;
  pointer-events: none;
  position: absolute;
  box-shadow: 0 0 12px #48ff00;
}
.wobble:hover span {
  background: #57ff41;
  -webkit-animation: wobble 0.8s;
  animation: wobble 0.8s;
}
@-webkit-keyframes wobble {
  0% {
    transform: translateZ(0);
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate(-5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate(3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate(-3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate(2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate(-1deg);
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes wobble {
  0% {
    transform: translateZ(0);
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate(-5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate(3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate(-3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate(2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate(-1deg);
  }
  to {
    transform: translateZ(0);
  }
}

/* Click Button */

.click,
.click *,
.click :after,
.click :before,
.click:after,
.click:before {
  border: 0 solid;
  box-sizing: border-box;
}
.click {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.click:disabled {
  cursor: default;
}
.click:-moz-focusring {
  outline: auto;
}
.click svg {
  display: block;
  vertical-align: middle;
}
.click [hidden] {
  display: none;
}
.click {
  --progress: 15px;
  background: #ff7b00;
  bottom: var(--progress);
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 1.2rem 3rem;
  perspective: 800px;
  position: relative;
  text-transform: uppercase;
  transform: rotateX(55deg) rotate(25deg);
  transform-style: preserve-3d;
  transition: bottom 0.2s;
}
.click:after,
.click:before {
  content: "";
  display: block;
  position: absolute;
  transform-origin: 0 0;
}
.click:before {
  background: #d66801;
  height: var(--progress);
  left: 0;
  top: 100%;
  transform: rotateX(-90deg);
  transition: height 0.2s;
  width: 100%;
}
.click:after {
  background: #d66801;
  height: 100%;
  left: 100%;
  top: 0;
  transform: rotateY(90deg);
  transition: width 0.2s;
  width: var(--progress);
}
.click:active {
  --progress: 0px;
}