footer h3 {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: Lato, sans-serif;
    font-weight: bold;
  }
  footer h4 {
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-family: Lato, sans-serif;
    font-weight: bold;
  }
  p {
    margin-top: 5vh;
    cursor: default;
    color: rgb(255, 255, 255);
    font-family: Lato, sans-serif;
    font-weight: bold;
  }
footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
  }
  .container-footer {
    width: 100%;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 12px var(--colorSub);
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #sub-menu-1{
    cursor: pointer;
  }
  #sub-menu-2{
    cursor: pointer;
  }
  .sub-menu-footer {
    width: 32.3333333333%;
    height: 15vh;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
    border-right: 1px solid var(--colorSub);
  }
  
  .li-footer {
    width: 100%;
    top: -28vh;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    box-shadow: 0 0 12px var(--colorSub);
    background-color: #fff;
    position: absolute;
    display: none;
    list-style: none;
  }
  
  .li-footer a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .li-footer a:hover {
    background-color: #f0f0f0;
  }
  
  
  .sub-menu-footer-info {
    width: 32.3333333333%;
    height: 15vh;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
    border-right: 1px solid var(--colorSub);
  }
  .li-footer-2 {
    width: 104%;
    top: -5.5vh;
    left: -4%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 0 12px var(--colorSub);
    list-style: none;
    position: absolute;
    display: none;
  }
  
  .li-footer-2 h4 {
    padding: 10px;
    cursor: default;
    display: block;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .li-footer-2 a:hover {
    background-color: #f0f0f0;
  }
  
  .sub-menu-footer-redes-sociais {
    width: 32.3333333333%;
    height: 15vh;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
  }
  .li-footer-3 {
    top: -32.7vh;
    left: -4%;
    width: 104%;
    
    background-color: #fff;
    box-shadow: 0 0 12px var(--colorSub);
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    cursor: pointer;
    position: absolute;
  }
  
  .li-footer-3 a {
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .li-footer-3 a:hover {
    background-color: #f0f0f0;
    color: var(--colorSub);
  }
  .a-footer {
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Lato, sans-serif;
    font-weight: bold;
  }
  .a-footer:hover {
    color: var(--colorSub);
  }
  #sub-menu-3{
    cursor: pointer;
  }
  .container-redes-sociais {
    width: 32.3333333333%;
    height: 15vh;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
    border-right: 1px solid var(--colorSub);
  }