@media only screen and (max-width: 600px) {
    footer h3 {
      font-size: 14px;
    }
    h5 {
      font-size: 7px;
    }
    h6 {
      font-size: 7px;
    }
    body {
        min-height: 100vh;
    }
    .li-menu-horizontal-menu-vertical {
        width: 82%;
    }
    .logo-site {
      width: 13%;
      height: 7%;
      top: 3.4%;
    }
    .container-pesquisar {
      width: 20em;
      height: 13vh;
      margin-right: 15px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    .container-pesquisar input[type=text]{
      display: block;
      position: relative;
      padding: 15px 40px 15px 20px;
      width: 20px;
      color: #000000;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 100;
      letter-spacing: 2px;
      border: none;
      border-radius: 5px;
      background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
      transition: width 0.4s ease;
      outline: none;
      
      &:focus{ width: 100px; }
    }
    .fundo-animado span {
      width: 16px;
      height: 12px;
      margin: 0 4px;
      animation: animar calc(120s / var(--i)) linear infinite;

  }
    i{
      position: relative;
      display: flex;
      justify-content: center;
      left: -37px;
      color: var(--colorSub);
    }
    .container-carrosel {
      margin-top: 5vh;
      z-index: 3;
  }
  main {
    height: 50vh;

  }
  @keyframes animar {
    0% {
        transform: translateY(50vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
    .container-cards-destaques {
      z-index: 4;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .titulo {
      font-size: 20px;
      text-wrap: nowrap;
    }
    .li-footer {
        width: 100%;
        top: -12.5em;
      }
    .li-footer-2 {
        width: 100%;
        top: -13.8vh;
      }
    .li-footer-2 h4{
      text-wrap: wrap;
      font-size: 14px;
    }
    .li-footer-3 {
        width: 100%;
        top: -12.8em;
      }
      svg {
        top: 80px;
        left: 60px;
        
      }
      .container-principal {
        width: 92%;
        height: auto;
        min-height: 50vh;
        flex-direction: column;
        border-radius: 30px;
        justify-content: first baseline;
        align-items: first baseline;
    }
    .container-demo {
      width: 100%;
      height: auto;
      min-height: 35vh;
      border-radius: 30px;
  }
  .demo {
    width: 100%;
    height: auto;
    min-height: 30vh;
}
.container-info-demo {
  width: 100%;
  height: auto;
  min-height: 80vh;
}
.code-demo {
  width: 100%;
}
.code-content {
  max-height: 27vh;
  margin-bottom: 20px;
}
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    footer h3 {
        font-size: 14px;
      }
      body {
          min-height: 100vh;
      }
      .li-menu-horizontal-menu-vertical {
          width: 82%;
      }
      .logo-site {
        height:6.5%;
        top: 3.4%;
      }
      .li-footer {
          top: -12.5em;
        }
      .li-footer-2 {
          top: -3.5em;
        }
      .li-footer-3 {
          top: -14.3em;
        }
  }
  
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {
    footer h3 {
        font-size: 14px;
      }
      body {
          min-height: 100vh;
      }
      .li-footer {
          top: -12.5em;
        }
      .li-footer-2 {
          top: -2.6em;
        }
      .li-footer-3 {
          top: -12.8em;
        }
  }
  
  
  @media only screen and (min-width: 1441px) {
    .li-footer {
      top: -12.5em;
    }
  .li-footer-2 {
      top: -2.55em;
    }
  .li-footer-3 {
      top: -14.3em;
    }
    .container-images {
      width: 150vh;
      height: 600px;
    }
  }